.footer {
  padding: 2rem;
  font-size: 0.875rem;
  background-color: var(--background);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  border-top: 2px solid var(--primary);
  flex-direction: column;
  gap: 1.5rem;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 2.8125rem;
}

.footer-logo {
  max-width: 100px;
  max-height: 61px;
}

.footer-address {
  font-style: normal;
  color: var(--primary);
  font-weight: 500;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 3.375rem;
  flex-wrap: wrap;
}

.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links a {
  position: relative;
  color: var(--primary);
  text-decoration: none;
  padding: 2px 0;
  font-size: 0.875rem;
  transition: color 0.2s ease;
}

.footer-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--secondary);
  transition: width 0.3s ease;
}

.footer-links a:hover {
  color: var(--secondary);
}

.footer-links a:hover::after {
  width: 100%;
}

/* Responsivo */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links {
    justify-content: flex-end;
  }

  .footer-links ul {
    align-items: flex-start;
  }
}
