@import url(./header.css);
@import url(./footer.css);

:root {
  --primary: #0a5573;
  --secondary: #0074d9;
  --background: #fcfaf9;
  --text: #333333;
  --contact: #f0fff0;
}

body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
